<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" class="logo" >John<span>.</span></a>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="active">Home</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>
        <a href="#" class="contact">Contact</a>
    </header>
    <section class="home">
        <div class="content">
            <h3>Hello<span>!</span></h3>
            <h1>I am <span>John <br></span>
                 computer science student</h1>
                 <p>
                    Hello! I'm John, a BTEC Computer Science student actively seeking job opportunities.<br> I have a solid foundation in Python, Java, C++, C, C#, HTML, and CSS, acquired through coursework and personal projects.<br> My experience includes developing applications, solving algorithmic challenges, and designing responsive web interfaces.<br> I am passionate about leveraging my technical skills to contribute effectively to innovative projects, eager to apply my knowledge and continue learning in a professional environment.
                 </p>
        </div>
        <div class="img">
            <img src="/static/assect/profile-pic.png" alt="">
        </div>
    </section>

</body>
</html>